
html{
    background-color: rgb(59, 147, 201);
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-align: center;
    line-height: 1rem;
}

.box {
  background-color: rgba(245, 245, 245, 0.283);
  color: rgb(46, 112, 152);
  display: block;
  transition: transform 2s ease-in-out;
}
.box1 {
    padding: 5%;
    width: 10%;
    margin: 3% auto 0;
    border-radius: 40%;
    text-decoration: none;
    background-blend-mode: screen;
    transition: opacity 5s ease-in-out, width 5s ease-in-out;
}
.box1:hover {
  opacity: 0.3;
  width: 100%;
}
.box2 {
  margin: -3% auto 0;
  padding: 2rem;
  width: 4rem;
  border-radius: 30%;
  text-decoration: none;
}
.box3 {
  margin: 0 auto;
  padding: 2rem;
  width: 4rem;
  border-radius: 30%;
  text-decoration: none;
  transform: translateY(-3vh) translateX(-5vw);
}
.box4 {
  padding: 4rem;
  width: 4rem;
  border-radius: 30%;
  text-decoration: none;
}

.pageone p {
    text-align: left;
    background-image: radial-gradient( whitesmoke,  rgb(59, 147, 201));
    padding: 5%;
    width: 50%;
    margin: auto;
    margin-top: 10%;
    border-radius: 5%;
    color: rgb(46, 112, 152);
}
.pageone .button {
  background-color: rgba(245, 245, 245, 0.543);
  color: rgb(46, 112, 152);
  padding: 1.5% 2%;
  text-decoration: none;
  display: inline-block;
  margin: 10%;
  border-radius: 10%;
}
.pageone a {
  display: inline-block;
  margin-top: 1%;
  text-decoration: none;
  color: rgba(245, 245, 245, 0.708);
}

@media (min-width: 769px) {
  .box1 {
    transform: translateY(80vh);
  }
  .box3 {
    transform: translateY(0) translateX(0);
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}