@font-face {
  font-family: 'ChapeauTRIAL-Thin';
  src: url('./fonts/ChapeauTRIAL-Thin.woff') format('woff'),
       url('./fonts/ChapeauTRIAL-Thin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
html {
  background-color: rgb(59, 147, 201);   
}
.white {
  animation: one 1.5s ease-in-out;
}
@keyframes one {
  0% { background-color: rgba(245, 245, 245, 0.582);}
}
body {
  font-family: 'ChapeauTRIAL-Thin';
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;
}
p {
    font-family: 'ChapeauTRIAL-Thin';
}
a {
  font-family: 'ChapeauTRIAL-Thin';
}
.on {
  display: inline-block;
  text-decoration: none;
  color: rgba(245, 245, 245, 0.708);
  font-size: 0.9rem;
}
.box {
  background-color: rgba(245, 245, 245, 0.283);
  color: rgb(46, 112, 152);
  display: block;
  transition: transform 2s ease-in-out;
  text-decoration: none;
  position: relative;
  transition: background-color 5s ease-in-out;
  background-image: radial-gradient( rgba(245, 245, 245, 0.31),  rgba(59, 147, 201, 0.603));
  animation-direction: alternate;
  animation: myfirst 5s 3;
}
.box1 {
 padding: 4%;
 width: 8%;
 margin: 2% auto 0;
 border-radius: 45%;
 transition: opacity 2s ease-in-out;
 animation: colorchange 10s;
}
.box1:hover {
 opacity: 0.3;
}
.box8:hover {
 opacity: 0.5;
}
.box10:hover {
  background-color: rgb(245, 245, 245);
}
.box7:hover {
 opacity: 0;
}
.box6:hover {
  background-color: rgba(199, 143, 46, 0.31);
}
.box12:hover {
  background-color: black;
}
.button:hover {
  opacity: 0.2;
  transition: opacity 2s ease-in-out;
}
.box2 {
  padding: 2rem;
  width: 7rem;
  border-radius: 20%;
  margin: auto 20%;
  transform: translateY(6vh) translateX(-8vw);
}
.box3 {
  padding: 2rem;
  width: 4rem;
  border-radius: 30%;
  margin: -15% 30%;
  animation-duration: 30s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  transition: opacity 2s ease-in-out;
}
.box4 {
  padding: 2.5rem;
  width: 5rem;
  border-radius: 45%;
  margin: 20% 80%;
  animation-duration: 30s;
  animation-name: slidein2;
  animation-iteration-count: infinite;
}
.box5 {
  padding: 2rem;
  width: 8rem;
  border-radius: 45%;
  margin: -30% 20%;
  transform: translateY(-4vh) translateX(8vw);
}
.box6 {
  padding: 1.5rem;
  width: 3rem;
  border-radius: 45%;
  margin: 15% auto;
  animation: colorchange4 10s;
}
.box7 {
  padding: 1.5rem;
  width: 11rem;
  border-radius: 40%;
  margin: -10% 5%; 
  transform: translateY(20vh) translateX(5vw);
  transition: opacity 2s ease-in-out;
}
.box8 {
  padding: 1.5rem;
  width: 10rem;
  border-radius: 40%;
  margin: -20% 70%;
  transform: translateY(5vh) translateX(-4vw);
  transition: opacity 2s ease-in-out;
}
.box9 {
  padding: 2rem;
  width: 12rem;
  border-radius: 25%;
  margin: 20% auto 0;
  animation: colorchange2 10s;
}
.box10 {
  padding: 1.5rem;
  width: 4rem;
  border-radius: 45%;
  margin: -5% 25% 0;
  transition: background-color 2s ease-in-out;
}
.box11 {
  padding: 1.5rem;
  width: 10rem;
  border-radius: 25%;
  margin: -5% 65% 0;
  animation: colorchange 10s;
}
.box12 {
  padding: 1.5rem;
  width: 5rem;
  border-radius: 10%;
  margin: -2% auto 0 ;
  animation: colorchange3 20s;
}


.pageone p {
    text-align: left;
    background-image: radial-gradient( whitesmoke,  rgb(59, 147, 201));
    padding: 5%;
    width: 85%;
    margin: auto;
    margin-top: 5%;
    border-radius: 5%;
    color: rgb(46, 112, 152);
}
.pageone .button {
  background-color: rgba(245, 245, 245, 0.543);
  color: rgb(46, 112, 152);
  padding: 1.5% 2%;
  text-decoration: none;
  display: inline-block;
  margin: 5%;
  margin-bottom: 1%;
  border-radius: 10%;
  position: sticky;
  bottom: 0;
  right: 0;
}
.pageone a {
  display: inline-block;
  margin-top: 1%;
  text-decoration: none;
  color: rgba(245, 245, 245, 0.708);
}

@media (max-width: 600px) {
  .pageone p {
    width: 80%;
  }
  .box {
    font-size: 1.25rem;
    line-height: 1.28rem;
  }
  .box1 {
    width: 8rem;
    margin: 1% auto 0;
    padding: 2.5rem;
  }
  .box2 {
    margin: -1% 7% ;
    padding: 5%;
  }
  .box3 {
    margin: -35% 40% 0;
  }
  .box4 {
    margin: 29% 60% 0;
  }
  .box5 {
    margin: -38% 15% 0;
  }
  .box6 {
    margin: -10% 40% 0;
  }
  .box7 {
    margin: 20% -2% 0;
    transform: translateY(0) translateX(0);
  }
  .box8 {
    margin: -40% 52% 0;
  }
  .box9 {
    margin: 37% auto 0;
  }
  .box10 {
    margin: -40% 5% 0;
  }
  .box11 {
    margin: -20% 50% 0;
  }
  .box12 {
    margin: 20% auto 0;
  }
}
@keyframes colorchange {
  0% { background: rgba(245, 245, 245, 0.708) }
  100% { background: rgba(245, 245, 245, 0)}
}
@keyframes colorchange2 {
  0% { background: rgba(245, 245, 245, 0) }
  100% { background: rgba(245, 245, 245, 0.269)}
}
@keyframes colorchange3 {
  0% { background: rgba(15, 9, 9, 0.783) }
  100% { background: rgba(245, 245, 245, 0.269)}
}
@keyframes colorchange4 {
  0% { background: rgba(199, 143, 46, 0.31) }
  100% { background: rgba(245, 245, 245, 0.269)}
}
@keyframes slidein0 {
  0% {
    margin-left: 0%;
  }
  0% {
    margin-left: 0%;
  }
  0% {
    margin-left: 0%;
  }
}
@keyframes slidein {
  0% {
    margin-left: 50%;
  }
  0% {
    margin-left: 100%;
  }
  50% {
    margin-left: 50%;
  }
}
@keyframes slidein2 {
  40% {
    margin-left: 20%;
  }
  10% {
    margin-left: 80%;
  }
  90% {
    margin-left: 10%;
  }
}
@keyframes myfirst {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}